/*  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  flex: 1;
  background-color: #00796b;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
header h1 {
  padding-left: 200px;
  padding-top: 40px;
}
header nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}
header #menu,
header nav #fechar {
  display: none;
}
header nav ul {
  /* Pra tirar as bolinhas da barra de navegação */
  list-style: none;
}
header nav ul li {
  background-color: #eeee;
  display: inline-block;
  padding: 20px 50px;
  /* Comando pra mudança de cor quando passa o mouse no a não ser tão veloz */
  transition: ease 0.5s;
}
header nav ul li a {
  color: rgb(38, 65, 65);
  text-decoration: none;
  font-size: 12pt;
  text-transform: capitalize;
}
/* Este comando é pra formatar a caixinha do a sempre que passar o mouse em cima */
header nav ul li:hover {
  background-color: cornflowerblue;
}
header nav ul li:hover > a {
  color: ghostwhite;
}
main {
  flex: 1;
}
main #painel {
  height: 400px;
  background-image: url("../img/sala1.jpg");
  /* comando pra fazer a imagem ocupar 100% do espaço */
  background-size: 100%;
  /* comando pra posicionar a imagem de background melhor */
  background-position: 0px -300px;
}
footer {
  flex: 1;
  /* tornar os elementos flexiveis */
  display: flex;
  /* colocar os elementos um ao lado do outro */
  flex-direction: row;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  padding: 50px;
  color: #fff;
}
footer #redes,
footer #end {
  flex: 1;
  color: #fff;
}
footer #end {
  text-align: right;
  padding-right: 50px;
}
footer #redes ul {
  list-style: none;
}
footer #redes ul li {
  display: inline-block;
}
footer #redes ul li a {
  color: #fff;
  text-decoration: none;
}
footer #redes ul li a i {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}

main #faixahome1 {
  padding: 50px 100px;
  background-color: #eeee;
}
main #faixa1 h2 {
  font-family: "Rubik", sans-serif;
  margin: 20px;
}
main #faixahome1 div {
  font-family: "Rubik", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 30px;
  text-align: justify;
}
main #faixahome2 {
  background-color: #fff;
  padding: 100px;
  margin: 400px 0px;
}
main #faixahome2 h2 {
  font-family: "Rubik", sans-serif;
  margin: 40px;
  text-align: center;
  font-size: 30pt;
}
main #faixahome2 #clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main #faixahome2 #clientes div {
  flex: 1;
  margin: 10px;
}
main #faixahome3 {
  background-color: #fff;
  padding-top: 100px;
}
main #faixahome3 h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 30pt;
}
main #faixahome3 div iframe {
  width: 100%;
  height: 500px;
}
main #sala h3,
main #cozinha h3,
main #quarto h3,
main #banheiro h3,
main #jantar h3 {
  font-family: "Verdana";
  font-size: 40pt;
  font-weight: lighter;
  text-align: center;
  padding: 50px 0px;
  color: rgba(0, 0, 0, 0.4);
}
main #sala h2,
main #cozinha h2,
main #quarto h2,
main #banheiro h2,
main #jantar h2 {
  font-family: "Verdana";
  font-size: 40pt;
  font-weight: lighter;
  text-align: center;
  padding: 60px;
  color: rgba(0, 0, 0, 0.4);
}
main #sala div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
main #sala div img {
  flex: 1;
  width: 32%;
  height: auto;
  opacity: 0.8;
  cursor: pointer; /*mouse no formato de hand(mão)*/
  transition: ease 0.5s;
}
main #sala div img:hover {
  opacity: 1;
}
main #cozinha #conteudo {
  display: flex;
  flex-direction: row;
}
main #cozinha #destaque {
  width: 40%;
}
main #cozinha #destaque img {
  width: 100%;
  height: auto;
}
main #cozinha #miniatura {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main #cozinha #miniatura img {
  flex: 1;
  width: 32%;
  height: auto;
  margin: 5px;
}
main #quarto div {
  display: flex;
  background-color: #263238;
  flex-direction: row;
  flex-wrap: wrap;
}
main #quarto div img {
  flex: 1;
  width: 40%;
  height: auto;
  /* Realizar o efeito de inclinação nas imagens */
  transform: skewX(15deg);
  margin: 5px;
  cursor: pointer;
  transition: ease 0.5s;
}
main #quarto div img:hover {
  transform: scale(1.2);
  transform: skewX(0deg);
  /* fazer a imagem sobre as outras */
  z-index: 1000;
}
main #banheiro #area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px dotted silver;
}
main #bainheiro #area #div {
  flex: 1;
  background-color: #fff;
  box-shadow: 5px 5px 10px #666;
  text-align: center;
  padding: 40px 0px 100px 0px;
  margin: 5px;
}
main #banheiro #area div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
main #jantar div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main #jantar div img {
  flex: 1;
  width: 15%;
}
main form {
  width: 40%;
  padding: 20px;
  margin: 30px auto;
}
main form input,
main form textarea {
  width: 90%;
  padding: 10px;
  display: block;
  margin: 5px;
}
main form textarea {
  height: 200px;
}
main form input[type="submit"] {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
/* Breakpoints do projeto */
/* telas de smartphone */
@media (min-width: 0px) and (max-width: 575.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 100px;
    background-position: 0px -80px;
  }

  header nav {
    background-color: #000;
    height: 10vh; /*v(viewport) h (height); 100% da altura da tela do dispositivo que abre*/
    position: fixed;
    /* Fazer a barra iniciar no topo do navegador e do lado de fora
    a esquerda do navegador */
    top: 0;
    left: -250px;
    width: 200px;
    padding-top: 100px;
    transition: ease 0.5s;
    z-index: 10000;
  }
  header nav ul li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000;
  }
  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }
  header #menu {
    position: fixed;
    top: 10;
    left: 10;
  }
  header nav #close {
    position: relative;
    top: 10px;
    right: 10px;
  }
}
/* telas de tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 250px;
    background-position: 0px -80px;
  }
  header nav {
    background-color: #000;
    height: 10vh; /*v(viewport) h (height); 100% da altura da tela do dispositivo que abre*/
    position: fixed;
    /* Fazer a barra iniciar no topo do navegador e do lado de fora
    a esquerda do navegador */
    top: 0;
    left: -250px;
    width: 200px;
    padding-top: 100px;
    transition: ease 0.5s;
    z-index: 10000;
  }
  header nav ul li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000;
  }
  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }
  header #menu {
    position: fixed;
    top: 10;
    left: 10;
  }
  header nav #close {
    position: relative;
    top: 10px;
    right: 10px;
  }
  /* Formatação para o Home */
  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }
  main #faixahome1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  main {
    background-image: url("../img/sala_jantar2.jpg") !important;
    background-size: 150% !important;
    background-position: center center;
  }
  /* Formatação para a página de projetos */
  main #sala,
  main #cozinha,
  main #quarto,
  main #banheiro,
  main #jantar {
    background-color: #fff;
  }
  main #sala div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main #sala div img {
    flex: 1;
    width: 60%;
    height: auto;
    opacity: 1;
    margin: 5px;
  }
  main form {
    width: 90%;
  }
  main form input[type="submit"] {
    width: 15%;
  }
}
/* telas de desktops */
@media (min-width: 768px) and (max-width: 991.98px) {
  header nav {
    width: 100%;
  }
  /* Formatação para a página home nas faixas 1 e 2 */
  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }
  main #faixahome1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  main #faixahome2 #clientes div {
    border: 1px solid red;
    width: 40%;
    text-align: center;
  }
  main #faixahome2 #clientes div img {
    width: 250px;
  }
  .ajustePHome {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Formatação da tela de projetos */
  main #cozinha #destaque {
    flex: 1.51;
  }
  main form {
    width: 90%;
  }
}
